<nav class="navbar">
    <button class="btn btn-default pull-left btn-sm" ng-click="slide = (slide - 1)" ng-show="slide > 0" accesskey="p">
        anterior
    </button>
    <button class="btn btn-default pull-right btn-sm" ng-click="slide = (slide + 1)" ng-show="slide < 10" accesskey="n">
        siguiente
    </button>
</nav>

<div ng-switch="slide">

<article ng-switch-when="0">
    <div class="header row">
        <div class="text-center col-md-12">
            <img class="AngularJS-large" src="img/angular_logo_for_light_background.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Desarrollo rápido con <a href="http://angularjs.org">AngularJS</a></h1>

            <p class="lead">
                AngularJS combina elementos de HTML y Javascript para simplificar
                significativamente el desarrollo de aplicaciones ricas en la web y la
                comunicación con un <em>back-end</em>. Puede tomar el lugar de un marco de
                trabajo completo con documentación accesible y una brillante y
                vibrante comunidad. La charla está destinada a diseñadores,
                desarrolladores, estudiantes y cualquiera con alguna idea de HTML y
                Javascript.
            </p>
        </div>
    </div>
    <div class="footer">
        <p>GDG Devfest. La Paz. Bolivia. 2013</p>
    </div>
</article>

<article ng-switch-when="1" >
    <div class="header">
        <h1>Agenda</h1>
    </div>

    <ul class="lead">
        <li>Una motivación</li>
        <li>Una pequeña explicación</li>
        <li>Una demo minúscula</li>
        <li>Algunas reflexiones de lo que significa</li>
        <li>Preguntas</li>
    </ul>

</article>

<article ng-switch-when="2" >
    <div class="header">
        <h1>Motivación (1)</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-sm-2">Año de inicio</th>
            <th class="col-sm-3 text-right">L.O.C.</th>
            <th class="col-sm-3 text-right">Servidor (Java)</th>
            <th class="col-sm-4 text-right">HTML + Javascript + CSS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2004</td>
            <td class="text-right">5735</td>
            <td class="text-right">70%</td>
            <td class="text-right">8%</td>
        </tr>
        <tr>
            <td>2009</td>
            <td class="text-right">6298</td>
            <td class="text-right">80%</td>
            <td class="text-right">17%</td>
        </tr>
        <tr>
            <td>2013</td>
            <td class="text-right">2929</td>
            <td class="text-right">20%</td>
            <td class="text-right success">78%</td>
        </tr>
        </tbody>
        <caption>
            Comparación de líneas de código en tres proyectos pequeños diferentes
        </caption>
    </table>

</article>

<article ng-switch-when="3" >
    <h1>¿Por qué?. Motivación (2)</h1>

    <p class="lead">Porque la interacción con el usuario final es mejor. Ejemplo.
        <a href="https://basecamp.com/">basecamp.com</a> es casi 50% Ruby, 50% Cofeescript.</p>

    <h1>¿Qué necesitamos?</h1>

    <ul class="lead">
        <li>Refresco automático (notificaciones)</li>
        <li>Animaciones</li>
        <li>¡Velocidad! <span class="label label-primary">IMPORTANTE</span></li>
        <li>Esto me causa ansiedad</li>
    </ul>
</article>

<article ng-switch-when="4" >
    <div class="header">
        <h1>Motivación (3)</h1>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="{{sinsql}}">SQL DB</h3>

                    <h3 ng-show="sinsql" class="animated flash">Mongo</h3>

                    <h3 ng-show="sinsql" class="animated flash">Couchbase</h3>
                </div>
                <div class="panel-body">
                    <span class="label label-default">optimización</span>
                    <span class="label label-default">datos</span>
                    <span class="label label-default">respaldo</span>
                    <span class="label label-success animated flash" ng-show="sinsql">entiende al navegador</span>
                    <span class="label label-default label-danger animated flash" ng-show="futuro">seguridad</span>
                    <span class="label label-default label-danger animated flash" ng-show="futuro">lógica de negocio</span>
                </div>
                <div class="panel-footer">
                    <div class="btn-toolbar text-center">
                        <button ng-click="sinsql='strikeout'" class="btn btn-default btn-success animated fade" ng-hide="sinsql">
                            ¡NoSQL!
                        </button>
                        <button ng-click="sinsql=undefined" class="btn btn-default animated fade" ng-show="sinsql">
                            ¡atrás!
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Aplicación <span class="label label-danger animated flash"
                                         ng-show="futuro && usoangular && sinsql">BYE BYE</span></h3>
                </div>
                <div class="panel-body">
                    <span class="label label-default {{sinsql}}">lenguaje de consulta</span>
                    <span class="label label-default {{futuro}}">seguridad</span>
                    <span class="label label-default {{futuro && usoangular && sinsql && 'label-info'}}">integración</span>
                    <span class="label label-default {{futurp}}">lógica de negocio</span>
                    <span class="label label-default {{usoangular}}">plantillas</span>
                    <span class="label label-default {{usoangular}}">componentes</span>
                    <span class="label label-default {{usoangular}}">enrutamiento</span>
                </div>
                <div class="panel-footer">
                    <div class="btn-toolbar text-center">
                        <button ng-click="futuro='strikeout'" class="btn btn-default btn-danger animated fade" ng-hide="futuro">
                            ¡mi predicción!
                        </button>
                        <button ng-click="futuro=undefined" class="btn btn-default animated fade" ng-show="futuro">
                            ¡atrás!
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Navegador</h3>

                    <h3 ng-show="usoangular"><em>AngularJS</em></h3>
                </div>
                <div class="panel-body">
                    <span class="label label-default">presentación</span>
                    <span class="label label-default">elementos dinámicos</span>
                    <span class="label label-default">ajax</span>
                    <span class="label label-success animated flash" ng-show="sinsql">¡la base me entiende!</span>
                    <span class="label label-default label-primary animated flash" ng-show="usoangular">plantillas</span>
                    <span class="label label-default label-primary animated flash" ng-show="usoangular">componentes</span>
                    <span class="label label-default label-primary animated flash" ng-show="usoangular">enrutamiento</span>
                </div>
                <div class="panel-footer">
                    <div class="btn-toolbar text-center">
                        <button ng-click="usoangular='strikeout'" class="btn btn-default btn-primary animated fade"
                                ng-hide="usoangular">
                            ¡AngularJS!
                        </button>
                        <button ng-click="usoangular=undefined" class="btn btn-default animated fade" ng-show="usoangular">
                            ¡atrás!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>

<article ng-switch-when="5" >
    <div class="header">
        <h1>Explicando HTML5</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <ul class="lead">
                <li>Navegadores compatibles</li>
                <li>Puede comunicarse directamente con bases NoSQL</li>
                <li>Diseñado para aplicaciones y no para documentos</li>
                <li>Introduce web más semántica, por ejemplo <code>&lt;article&gt;</code>, o <code>&lt;menu&gt;</code>
                </li>
                <li>Varios <em>API</em>s, por ejemplo <em>Web storage</em></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="img/HTML5_logo_and_wordmark.svg">
        </div>
    </div>
</article>

<article ng-switch-when="6" >
    <div class="header">
        <img src="img/angular_logo_for_light_background_small.svg">
    </div>

    <ul class="lead">
        <li>Enlace a datos</li>
        <li>Separación de <em>Controller</em></li>
        <li>Usa Javascript simple</li>
        <li>Validación</li>
        <li>Comunicación con el servidor</li>
        <li>Componentes re-usables</li>
        <li><em>Testeable</em></li>
    </ul>
</article>

<article ng-switch-when="7" >
    <div class="header">
        <h1>Explicando. ¿Cómo empezar?</h1>
    </div>

    <table class="table">
        <tr>
            <td>
                <a href="https://npmjs.org/">
                    <img src="img/npm.png" class="col-md-12">
                </a>
            </td>
            <td>
                <a href="http://yeoman.io/">
                    <img src="img/yeoman-logo.png" class="col-md-12">
                </a>
            </td>
        </tr>
    </table>

    <ul class="lead">
        <li>IDE: Jetbrains, Visual Studio 2013, NetBeans 7.4</li>
        <li>Chrome (Batarang)</li>
        <li>NodeJS - express.js, Firebase, CouchDB, Rails, y otros.</li>
    </ul>

</article>

<article ng-switch-when="8">
    <div class="header">
        <h1>¿A qué prestar atención?</h1>
    </div>

    <ul class="lead">
        <li>Aplicación de una sola página</li>
        <li>Nota las herramientas</li>
        <li>Javascript idiomático</li>
    </ul>

</article>

<article ng-switch-when="9" >
    <div class="jumbotron">
        <h1>¡HORA DE LA DEMO!</h1>
    </div>
</article>

<article ng-switch-when="10" >
    <div class="header">
        <h1>Reflexión</h1>
    </div>

    <ul class="lead">
        <li>¿Cómo cambia el proceso de desarrollo?</li>
        <li>¿Cómo afecta al SEO?</li>
        <li>¿Cómo escala?</li>
        <li>¿Qué efecto tiene sobre el ancho de banda?</li>
        <li>¿Cómo usa el ancho de banda?</li>
        <li>¿Cómo afecta al desarrollador del back-end?</li>
    </ul>

</article>

</div>


